.button {
  transition-duration: 0.4s;
  cursor: pointer;
  margin-right: 4px;
  border: 1px solid white;
  padding: 4px 8px;
}

.ingredients-list {
  margin: 0 0 16px 0;
  font-style: italic;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.edit-button:hover {
  color: black;
  background-color: white;
  border: 1px solid #4caf50;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  color: black;
  background-color: white;
  border: 1px solid #f44336;
}
